/* #langs{display:none;} */
.green{
	color:darkgreen;
}
.red{
	color:darkred;
}
.dataTable-selector {
	padding: 0px 20px 0px 3px !important;
}
.dataTable-table > tbody > tr > td, .dataTable-table > tbody > tr > th, .dataTable-table > tfoot > tr > td, .dataTable-table > tfoot > tr > th, .dataTable-table > thead > tr > td, .dataTable-table > thead > tr > th {
	padding: 0px 0.7rem !important;
	vertical-align: top !important;
}
.table select {
	width:auto;
}
#menu-logout-sub {
	margin-bottom: 6px;
}
#logout-sub {}
#form_adherer label{
	display: inline;
}
#form_adherer p, #form_adherer input{
	display: inline-block;
	width: 100%;
}
#form_adherer p.act{
	width: 20%;
}
#form_adherer input{
	max-width: 44%;
}
#form_adherer input[type="text"], 
#form_adherer input[type="password"], 
#form_adherer input[type="email"]{
	float: right;
}
#form_adherer input.xl{
	max-width: 100%;
}
#form_adherer input#id_rep{
	width: auto;
	display: inline;
	float: none;
}

#form_adherer input[type="radio"]{
	display:none !important;
}
#form_adherer input[type="radio"] ~ * { 
	background:rgba(207,207,207,.207);
	color:rgba(72,72,72,.72);
	cursor: pointer;
	margin: 0.66rem;
	padding: 0.66rem;
	border-radius: 6.6px;
}
#form_adherer input[type="radio"]:checked ~ * { 
	background:rgba(72,72,72,.72);
	color:#fff;
}
#form_adherer input[type="radio"] ~ *:before { 
	content:"···";
	display:inline-block;
}
#form_adherer input[type="radio"]:checked ~ *:before { 
	content:"√ ";
	display:inline-block;
}
#form_adherer input[type="radio"] ~ .mandatory {
	color:red;
	font-weight: bolder;
}

#all_required {
	text-align: center;
	padding: 0;
	margin:0;
	font-weight: bold;
}
#form_contact {
	margin: 20px 0;
}
.contact_error {
	margin: 20px;
	padding: 5px 15px;
	border: 1px solid;
	font-size: 13px;
	font-weight:bold;
	color:#000 !important;
	background-color: #ffcfcf;
	border-color: #df8f8f;
	text-align:center;
}
.contact_success {
}
.notice,.locked{border: 1px solid #D0DDDD;}
.notice {
	background-color: #fff1a8;
	margin: 10px 320px 10px 0;
	padding: 10px 5px 10px 20px;
	font-size: 13px;
	font-weight:bold;
	color:#000 !important;
/*	 width:96%; */
}
p.locked:before,p.locked:after{content:" /!\\ ";}
p.locked {
	background-color: #F0FFFF;
	margin: 0 0 3em 0;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
	color: #000 !important;
	text-align: center;
/*	 width:96%; */
}
/*
#espace-adherents form fieldset input {
	width:250px;
}
#espace-adherents form fieldset input#submit {
	width:50px;
}
#espace-adherents form fieldset input#sub {
	width:100px;
}
#logout fieldset p {
	text-align: center;
}
*/
#espace-adherents p {
	text-align: left;
}
#password_error, #password_success {
	position:absolute;
	top:26%;
	right:26%;
	left:26%;
	margin: 20px auto;
	padding: 5px 15px;
	border: 1px solid;
	font-size: 13px;
	font-weight:bold;
	color:#000 !important;
	text-align:center;
	z-index:99999;

	transition-property: all;
	transition-duration: .5s;
}
#password_error {
	background-color: #ffcfcf;
	border-color: #37b331;
}
#password_success {
	background-color: #aaff2d;
	border-color: #df8f8f;
}
/*
#forgetmypass, #myaccount {
	text-align:center;
	font-size: 90%;
	margin-top: -10px;
}
#myaccount {
	margin-top: 20px;
}
*/
p.toogle label{
	margin:10px 0 12px 0;
}
p.toggle a#toggler_desc, p.toggle a#toggler_ad {
	/* display: inline-block; */
	min-width:50px;
	margin: 0 2px 0 2px;
	background-color:#dedede;
	border:1px solid #A8A9A8;
	color:#555;
	padding:5px 5px 5px 10px;
}
p.toggle a#toggler_desc:hover, p.toggle a#toggler_ad:hover {
	color:#000;
	background-color: #bbb ;
}
/*
#sendConfig {
	text-align: center;
	margin:20px;
}
#sendConfig input {
	padding:10px;
	color:#00ff1c;
	font-weight: bolder;
}
*/
/* Pour masquer les emails. Merci sebsauvage ! */
span.baddirection { unicode-bidi:bidi-override; direction: rtl; }
span.baddirection.nobot { text-decoration: underline; cursor: pointer;direction: ltr;}
/*
@media screen and (max-width: 480px) {
	#id, #pass {
		width:200px;
	}
*/

@media screen and (max-width: 700px) {

	#form_adherer input[type="radio"]:checked ~ *,
	#form_adherer input[type="radio"] ~ * {
		background: none;
		color:inherit;
		text-decoration:none; 
	}
	#form_adherer input[type="radio"] ~ * {
		text-decoration:line-through; 
	}
}